.head{
    padding: 5px;
    background-color: rgb(162, 0, 255);
    text-align: center;
    color: aliceblue;
    
}

body{
    text-align: center;
    margin: 0px;
}

#date{
    width: 100px;
}

#enviar{
    width: 100px;
}

.rodape{
    padding: 3%;
    background-color: blueviolet;
    color: aliceblue;
}
.competencias{
    margin-bottom: 1%;
}

.aula input,select{
    margin-bottom: 2%;
        width: 500px;

}

.checkbox input{
    text-align: center;
}

.range input{
    width: 260px;
        margin-bottom: 3%;
}
.textarea{
    margin-bottom: 1%;
}

.upload{
    margin-bottom: 20px;
}

.submit{
    margin-top: 50px;
    margin-bottom: 20px;
}